<article class="text--justified">
    <header>
        <h2>Products in Shopping List</h2>
        <a [routerLink]="['/products/create', shoppingListId]" class="create-button">
            <i class="fas fa-plus"></i> Add New Product
        </a>
    </header>
    <table *ngIf="products.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.name}}</td>
                <td class="action-links">
                    <a [routerLink]="['/products', product.id]">
                        <i class="fas fa-info-circle"></i> Details
                    </a>
                    <a [routerLink]="['/products', product.id, 'edit']">
                        <i class="fas fa-edit"></i> Edit
                    </a>
                    <a href="javascript:void(0)" (click)="deleteProduct(product.id)" class="delete-link">
                        <i class="fas fa-trash"></i>Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</article>